{% extends 'base.html' %}


{% block title %}
About
{%endblock%}

{% block content %}
{% load static %} 
<div style="margin: 40px;">

<p><b>
    <div >
        <h3 class="text-center text-danger" ><b>ABOUT US </b></h3>
<hr>
<h3 class="text-center text-primary" ><b>ONETEAM_DOCTOR</b></h3>
<br>
            
       <p class = "text-center ">  
        <p>Welcome to ONETEAM DOCTOR- Your Trusted Partner in Healthcare</p><br>

        At ONETEAM_DOCTOR, we understand the importance of easy access to healthcare services. We're committed to bridging the gap between patients and healthcare providers through our convenient online platform.
        <br>
        <h3> Mission</h3>
        
        <p>Our mission is simple: to make healthcare accessible to everyone, everywhere. We strive to empower individuals to take control of their health by providing a seamless experience for booking doctor appointments online.</p>
        
        <h3> Why Choose ONETEAM DOCTOR   ?</h3>
        <br>
        
        <p>Convenience: Say goodbye to long waiting times and tedious phone calls. With [Site Name], booking an appointment is as easy as a few clicks.
        Choice: Gain access to a diverse network of healthcare professionals, allowing you to find the right doctor to meet your specific needs.
        Transparency: We believe in transparent healthcare. That's why we provide detailed profiles of each doctor, including their qualifications, specialties, and patient reviews.
        Flexibility: Whether you need an urgent appointment or prefer to schedule ahead, our flexible booking system caters to your needs.
        Safety: Rest assured knowing that your health information is kept secure and confidential at all times.
        Our Commitment to Quality</p>
        <br>
        <p>At ONETEAM_DOCTOR, quality is our top priority. We partner with accredited healthcare providers to ensure that you receive the highest standard of care. We continuously monitor and evaluate our services to maintain excellence and improve the patient experience.</p>
        <br>
        <h3> How It Works</h3>
        <br>
        <p>
        
        Booking an appointment with [Site Name] is quick and easy:
        
        Search: Use our search feature to find doctors based on location, specialty, or specific medical condition.
        Select: Browse through doctor profiles, read reviews, and select the provider that best fits your needs.
        Book: Choose a convenient date and time for your appointment and confirm your booking.
        Attend: Visit the doctor's clinic at your scheduled appointment time and receive the care you deserve.
        Get Started Today</p>
        <br>
        <p>
        
        Join thousands of satisfied patients who trust ONETEAM_DOCTOR for their healthcare needs. Take the first step towards a healthier you by booking your next doctor appointment online with us.
        
        For any inquiries or assistance, feel free to contact our friendly customer support team. We're here to help you every step of the way.
        
        Thank you for choosing ONLINE_BOOKING as your healthcare partner.
       </p>
    </b>
</p>
</div> 

<img src="{% static '/images/hopecare.webp'%}" class="d-block w-100" alt="...">

<div>
      

{%endblock%}